body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

main {
  padding: 2rem;
}

.bienvenida {
  text-align: center;
}

.llamada-accion {
  text-align: center;
  margin-top: 2rem;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.carousel-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
}

.carousel-slide {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}